.modal-container {
  background: rgba(35, 35, 35, 0.918051);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  font-family: "Montserrat";
  font-style: normal;
  text-transform: uppercase;
  background: #232323;
  padding: 50px 100px;
  border-radius: 10px;
  position: relative;

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 55px;
    color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
  }

  &-title {
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 1px;
    color: #ffffff;
  }

  form {
    div {
      margin: 10px 0;
      label {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.888889px;
        text-transform: uppercase;
        color: #f65261;
        display: block;
      }

      input,
      textarea,
      select {
        background: rgba(50, 50, 50, 0.948044);
        mix-blend-mode: normal;
        opacity: 0.8;
        border-radius: 4px;
        display: block;
        width: 100%;
        color: #fff;
        padding: 5px 10px;
      }
    }
    .button-holder {
      display: flex;
      justify-content: space-between;
      margin: 0 -5px;

      button {
        background: #f65261;
        border-radius: 4px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 16px 48px;
        cursor: pointer;
      }
    }
  }
}
