.movie {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  mix-blend-mode: normal;
  margin: 0 5px 20px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;

  img {
    width: 320px;
    height: 486px;
    object-fit: cover;
  }

  h4,
  span,
  div {
    margin: 5px 0;
  }

  div {
    border: 1px solid #fff;
    display: inline-block;
    margin-left: 10px;
    padding: 4px 8px;
    border-radius: 5px;
  }
}

.movie:hover {
  border-color: #f65261;
  color: #f65261;
  div {
    border-color: #f65261;
  }
}
